<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Search</title>
    
    <style>
        /* Additional styles if needed */
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <div class="flex justify-between items-center mb-4">
            <div class="text-lg font-semibold">Device Search</div>
            <button class="py-2 px-4 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">Login</button>
        </div>
        <div class="flex gap-4 mb-4">
            <input type="text" placeholder="marque" class="flex-1 p-2 border border-gray-300 rounded " [(ngModel)]="brand">
            <input type="text" placeholder="Memoire" class="flex-1 p-2 border border-gray-300 rounded" [(ngModel)]="internal_memory">
            <input type="text" placeholder="annee" class="flex-1 p-2 border border-gray-300 rounded" [(ngModel)]="year">
        </div>
        <div class="flex justify-center mb-8">
            <button class="py-2 px-6 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400" (click)="search()">chercher</button>
        </div>
        <!-- Conteneur de la grille -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <!-- Boucle pour chaque appareil -->
    <div *ngFor="let device of paginatedDevices" class="p-4 border border-gray-300 bg-white rounded shadow">
      <div>Brand: {{device.brand}}</div>
      <div>Model: {{device.model}}</div>
      <div>Network Technology: {{device.network_technology}}</div>
      <div>Announced: {{device.announced}}</div>
      <div>Status: {{device.status}}</div>
      <img src="{{device.img_url}}" alt="" class="w-1/2">

    </div>
  </div>
  
        <!-- Affichage conditionnel des boutons de pagination -->
        <!-- Affichage conditionnel des boutons de pagination -->
        <div *ngIf="devices.length > itemsPerPage" class="flex justify-center space-x-2">
            <button *ngFor="let pageNumber of pages; let i = index" 
                    class="py-2 px-4 bg-gray-200 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400"
                    (click)="goToPage(pageNumber)">
              {{ pageNumber }}
            </button>
          </div>
          
  
          
  
  
        <!-- <div class="flex justify-center space-x-2">
            <button class="py-2 px-4 bg-gray-200 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">1</button>
            <button class="py-2 px-4 bg-gray-200 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">2</button>
            <button class="py-2 px-4 bg-gray-200 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">3</button>
        </div> -->
    </div>
</body>
</html>